
.container {
  display: flex;
  justify-content:flex-end; /* or justify-content: space-between; */
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: rgb(56, 55, 59);
  border-radius: 10px;
  max-height: 560px;
  overflow-y: auto;
  padding: 20px;
  margin: 0; /* Ensure no margin on the ul */
}

li {
  margin-bottom: 20px;
}

.lead-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 300px;
  margin: 0 auto;
}

.lead-card:hover {
  transform: scale(1.05);
}

.lead-card p {
  margin: 0;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.lead-card p:last-child {
  border-bottom: none;
}

h2 {
  color: #000000;
  text-align: center;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.loading-text {
  font-size: 18px;
  color: #555;
}

.red-card {
  background-color: #ff6666; /* Adjust the color as needed */
}

.blue-card {
  background-color: #6666ff; /* Adjust the color as needed */
}

.gold-card {
  background-color: #ffd700; /* Adjust the color as needed */
}


@media screen and (max-width: 600px) {
  .lead-card {
    width: 100%;
  }
}